<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movie.moviebazaar">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".helper.utils.FirebaseOffline"
        android:allowBackup="true"
        android:icon="@drawable/popcorn"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/popcorn"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Moviebazaar">


        <activity android:name="com.movie.moviebazaar.ui.activities.AboutUsActivity"
            android:configChanges="orientation|screenSize|locale"
            android:screenOrientation="sensorPortrait"
            />

        <activity android:name="com.movie.moviebazaar.ui.activities.MovieInfoActivity"
            android:configChanges="orientation|screenSize|locale"
            android:screenOrientation="sensorPortrait"
            />

        <activity
            android:name="com.movie.moviebazaar.ui.activities.Authentication"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize|locale"
            android:screenOrientation="sensorPortrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MainActivity"
            android:configChanges="orientation|screenSize|locale"
            android:screenOrientation="sensorPortrait"
            />

        <activity android:name="com.movie.moviebazaar.ui.activities.HomeActivity"
            android:configChanges="orientation|screenSize|locale"
            android:screenOrientation="sensorPortrait"
            />

        <activity android:name="com.movie.moviebazaar.ui.activities.MovieLanguageActivity"
            android:configChanges="orientation|screenSize|locale"
            android:screenOrientation="sensorPortrait"
            />

        <activity android:name=".ui.player.Player"
            android:configChanges="orientation|screenSize|locale"
            android:screenOrientation="sensorPortrait"
            />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5248287644539273~7205059648"/>
    </application>

</manifest>